// Main css file

// Start Header Area
header {
    background: #272727;

    .logo {
        padding: 10px;

        img {
            max-width: 210px;
        }
    }   
    nav {

        .nav-item {
            color: #595959;
            padding: 10px 15px;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

// Main Hero Area
main {
    height: calc(100vh - 124px);

    .overlay {
        height: 100%;
        text-transform: uppercase;
        background: rgba(10, 10, 10, .6);

        .headline {
            max-width: 600px;
        }

        h1 {
            font-size: 93px;
            color: #cbcbcb;
            margin: 0 0 0px;
        }
        p {
            text-transform: uppercase;
            color: #cbcbcb;
            font-size: 28px;
            margin: 0;
        }
    }

    .video-area{
        background-image: url(../images/ph.jpg);
        background-size: cover;
        height: 100%;
    }

}

// Below Fold Sections

// Past Clients Logo Section
.logos {
    padding: 30px 0;

    .past-client {
        min-width: 100px;
        height: 120px;
        background-image: url(../images/logos-sprite.jpg);
        margin: 10px 20px 10px;
    }
    .past-client:nth-of-type(1) {
        width: 134px;
        background-position: -11px -4px;
    }
    .past-client:nth-of-type(2) {
        width: 239px;
        background-position: -203px -2px;
    }
    .past-client:nth-of-type(3) {
        width: 240px;
        background-position: -497px -5px;
    }
    .past-client:nth-of-type(4) {
        width: 200px;
        background-position: -784px 7px;
    }
    .past-client:nth-of-type(5) {
        width: 111px;
        background-position: -1055px -4px;
        height: 117px;
    }
    .past-client:nth-of-type(6) {
        width: 145px;
        height: 72px;
        background-position: -1224px -14px;
    }
    .past-client:nth-of-type(7) {
        width: 123px;
        background-position: -46px -153px;
    }
    .past-client:nth-of-type(8) {
        width: 181px;
        background-position: -232px -161px;
        height: 104px;
    }
    .past-client:nth-of-type(9) {
        width: 132px;
        background-position: -436px -159px;
        height: 106px;
    }
    .past-client:nth-of-type(10) {
        width: 271px;
        background-position: -617px -176px;
        height: 57px;
    }
    .past-client:nth-of-type(11) {
        width: 170px;
        background-position: -929px -142px;
    }
    .past-client:nth-of-type(12) {
        width: 210px;
        background-position: -1153px -154px;
        height: 99px;
    }
}