// Main css file

// Start Header Area
header {
    background: #272727;
    border-bottom: 1px solid #666666;

    .logo {
        padding: 10px;

        img {
            max-width: 260px;
            margin: 30px 0 0;
        }
    }   
    nav {

        .nav-item {
            color: #595959;
            padding: 10px 15px;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            padding: 20px 25px;
        }
    }
}

// Main Hero Area
main {
    height: calc(100vh - 178px);

    .overlay {
        height: 100%;
        text-transform: uppercase;
        background: rgba(10, 10, 10, .6);

        .headline {
            max-width: 600px;
            padding: 0 0 20px;
        }

        h1 {
            font-size: 93px;
            color: #cbcbcb;
            margin: 0 0 0px;
        }
        p {
            text-transform: uppercase;
            color: #cbcbcb;
            font-size: 28px;
            margin: 0;
        }
    }

    .video-area{
        background-image: url(../images/ph.jpg);
        background-size: cover;
        height: 100%;
    }

}

// Below Fold Sections

// Past Clients Logo Section
.logos {
    padding: 30px 0;

    .past-client {
        min-width: 100px;
        height: 120px;
        background-image: url(../images/logos-sprite.jpg);
        margin: 10px 20px 10px;
    }
    .past-client:nth-of-type(1) {
        width: 134px;
        background-position: -11px -4px;
    }
    .past-client:nth-of-type(2) {
        width: 239px;
        background-position: -203px -2px;
    }
    .past-client:nth-of-type(3) {
        width: 240px;
        background-position: -497px -5px;
    }
    .past-client:nth-of-type(4) {
        width: 200px;
        background-position: -784px 7px;
    }
    .past-client:nth-of-type(5) {
        width: 111px;
        background-position: -1055px -4px;
        height: 117px;
    }
    .past-client:nth-of-type(6) {
        width: 145px;
        height: 72px;
        background-position: -1224px -14px;
    }
    .past-client:nth-of-type(7) {
        width: 123px;
        background-position: -46px -153px;
    }
    .past-client:nth-of-type(8) {
        width: 181px;
        background-position: -232px -161px;
        height: 104px;
    }
    .past-client:nth-of-type(9) {
        width: 132px;
        background-position: -436px -159px;
        height: 106px;
    }
    .past-client:nth-of-type(10) {
        width: 271px;
        background-position: -617px -176px;
        height: 57px;
    }
    .past-client:nth-of-type(11) {
        width: 170px;
        background-position: -929px -142px;
    }
    .past-client:nth-of-type(12) {
        width: 210px;
        background-position: -1153px -154px;
        height: 99px;
    }
}

// Description Section
.description {
    background-image: url(../images/desc-bg.webp);
    background-repeat: no-repeat;
    background-color: #4d4d4d;
    color: #9c9c9c;

    .w100 {
        min-height: 630px;
    }

    h2 {
        font-size: 55px;
        margin: 0 0 5px;
    }

    p {
        font-size: 23px;
    }

}

// Reel Section
.reel {
    background-color: #7d7d7d;
    padding: 30px 0;

    .reel-area {
        border-radius: 7px;
        background: #111;
        min-height: 600px;
        max-width: 1100px;
        margin: 0 auto;
    }
}

// Video Sliders Section



// Video Prod Section
.video-prod {
    background-color: #e5e5e5;
    color: #9b9b9b;
    padding: 90px 0 120px;

    h2 {
        font-size: 58px;
        margin: 0;
    }
    
    p {
        font-size: 25px;
    }
}

// Explore Section & Captivate Sections
.explore, .captivate {
    padding: 80px 0;

    .col-5 {
        

        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: 60px;
        }
        p {
            margin: 0;
        }
    }
}

.explore {
    background-color: #757575;
    

    h2, p {
        color: #cbcbcb;
    }
}

.captivate {
    background-color: #a1a1a1;

    h2, p {
        color: #585858;
    }
}

.sub-reels {
    width: 50%;
    min-height: 375px;
    border-radius: 10px;
    background-color: #999;
}

// Brand Stategy
.brand-strategy  {
    background-image: url(../images/brand-section.webp);
    background-repeat: no-repeat;
    background-color: #424242;
    color: #9c9c9c;

    .w100 {
        min-height: 630px;
    }
}

// Footer
footer {
    background: #282828;
    color: #a0a0a0;
    padding: 50px 0 10px;

    .nav-item {
        padding: 0 10px;
        border-left: 1px solid;
    }

    .nav-item:nth-of-type(1) {
        border-left: none;
    }
    svg {
        fill:#696969;
        max-width: 250px;
        margin: 0 auto 20px;
    }
}